.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}

.welcomeContainer {
  padding: 20px 100px 80px 100px;
}

@media (max-width: 800px) {
  .welcomeContainer {
    padding: 20px 10px 10px 10px;
  }
}

.mainHeader {
  font-size: 64px;
  line-height: 64px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: -2px;
}

@media (max-width: 800px) {
  .mainHeader {
    font-size: 48px;
    line-height: 48px;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.getStarted {
  background-color: transparent;
  color: var(--tape-color--darkest);
  border-radius: 999px;
  font-weight: 700;
  transition-property: transform;
  transition-duration: 220ms;
}

.getStarted:hover {
  color: var(--tape-color--darkest);
  background-color: var(--tape-color-darkest-10);
  transform: translateY(-2px);
}

.getStarted:active {
  color: var(--tape-color--darkest);
  background-color: var(--tape-color-darkest-20);
}

.subline {
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
}
