.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.getStarted {
  background-color: transparent;
  border-radius: 999px;
  color: #ffffff;
  font-weight: 700;
  transition-property: transform;
  transition-duration: 220ms;
}

.getStarted:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.getStarted:active {
  background-color: rgba(255, 255, 255, 0.2);
}
