.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.getStarted {
  background-color: transparent;
  color: var(--ifm-color--darkest);
  border-radius: 999px;
  font-weight: 700;
  transition-property: transform;
  transition-duration: 220ms;
}

.getStarted:hover {
  color: var(--ifm-color--darkest);
  background-color: var(--ifm-color-darkest10);
  transform: translateY(-2px);
}

.getStarted:active {
  color: var(--ifm-color--darkest);
  background-color: var(--ifm-color-darkest20);
}
